<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="shareapp.vsshv.com.shareapp" >

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TwitterActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".TwitterOAuthAct"
        android:parentActivityName=".MainActivity" />
        <activity android:name=".WebViewActivity" />
        <receiver android:name=".AlarmReceiver" />
        <activity android:name="uber.UberActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".gmail.GmailActivity"
            android:parentActivityName=".MainActivity"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="960ebba62a5e094aac49e51bdf3baaafc26751f3" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

</manifest>